.Content{
  padding: 0 200px;
}
.Sidebar {
padding-top: 30px;
  background-color: #f7f7f7;
  width: 200px;
  border-right: 1px solid #ddd;
  position: absolute;
  top: 90px;
  height: 100%;
}

.Sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Sidebar li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.Sidebar li a {
  text-decoration: none;
  color: #333;
}

.table-lotsInfo{
  background-color: #f7f7f7;
  padding-top: 20px;
  z-index: 9999;
}

.plus-icon {
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}
